$cosmic-value-map: (
	name: 'cosmic',
	text-color: #f3f4f5,
	background-color: #1b1b38,
	background-footer: #323259,
	border-line: 1px solid #13132b,
	border-table: 2px solid #13132b,
	border-color: #13132b,
);
