$ligth-value-map: (
	name: 'ligth',
	text-color: #000,
	background-color: #fff,
	background-footer: #fff,
	border-line: 1px solid #c8ced3,
	border-table: 2px solid #c8ced3,
	border-color: #c8ced3,
);
