<div class="card text-white bg-primary">
	<div class="card-header p-2 header">
		<div
			*ngIf="kpiList.length <= 2"
			class="btn-group header"
			role="group"
			aria-label="Basic example"
		>
			<button
				type="button"
				class="btn btn-primary header-button"
				id="{{ item._id }}"
				*ngFor="let item of kpiList; let i = index"
				(click)="setKpi(i)"
			>
				{{ kpiList[i].label }}
			</button>
		</div>
		<div class="btn-group mx-auto header" dropdown>
			<button
				*ngIf="kpiList.length > 2"
				type="button"
				class="btn btn-transparent btn-lg dropdown-toggle p-0 header"
				dropdownToggle
			>
				{{ kpi.label }}
			</button>
			<div class="dropdown-menu" *dropdownMenu>
				<a
					class="dropdown-item"
					*ngFor="let item of kpiList; let i = index"
					id="{{ item._id }}"
					(click)="setKpi(i)"
					>{{ item.label }}</a>
			</div>
		</div>
	</div>

	<div class="card-body value-body">
		<span class="card-title value">{{ kpi.data }}</span>
		<span class="card-text units"> {{ kpi.units }}</span>
	</div>
</div>
